.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1%;
}
.top-nav {
    height: 130px;
    background-color: green;
    margin: 2%;
    margin-top: 2%;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 2%;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 2%;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 1%;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 1%;
}
.row {
    display: flex;
}

